<form action="https://www.mobile.bg/pcgi/mobile.cgi" method="post">
    <input type="text" name="f20" value="6">
    <input type="text" name="f21" value="01">
    <input type="text" name="f5" value="Audi">
    <input type="text" name="f6" value="A1">
    <input type="text" name="topmenu" value="1">
    <input type="text" name="act" value="3">
    <input type="submit" value="Т Ъ Р С И">
</form>